.rcc
*~
*.o
*.moc
*.a
*.so
*.so.[0-9]
*.so.[0-9].[0-9]
*.so.[0-9].[0-9].[0-9]
*.dylib
*.dylib.[0-9]
*.dylib.[0-9].[0-9]
*.dylib.[0-9].[0-9].[0-9]
.moc
.obj
Makefile
Makefile.Debug
Makefile.Release
moc_*.cpp
obj_*
qrc_*
*.app	
lib
config.pri
.qmake.cache
/include
*.pro.user
.DS_Store
tests/*/*/tst_*
/bin/
/module-paths/
src/client/qtjsondbversion.h
src/clientcompat/qtjsondbcompatversion.h
src/partition/qtjsondbpartitionversion.h
*.pro.user
*.qmlproject.user
config.log
config.tests/icu/icu
config.tests/libedit/libedit
/doc/html
/doc/ditaxml
